body {
	font-family: 'Poppins', sans-serif;
	max-width: 1000px;
	margin: 20px auto;
	padding: 20px;
}

.index__item {
	list-style: none;
}

.index__link {
	color: #666;
	text-decoration: none;
	transition: color 0.1s;
}

.index__link:visited {
	color: #aaa;
}

.index__link:hover {
	color: #000;
}

.index__annotation {
	font-size: 14px;
}
