* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	align-items: center;
	background-color: #060a1f;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

.clock {
	&__box {
		position: relative;
		margin: 0 5px;
		-webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
		&:last-child span {
			background-color: #ff006a;
		}
	}

	&__box-caption {
		align-items: center;
		background-color: #2196f3;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
		color: #fff;
		display: flex;
		font-size: 3em;
		font-weight: 300;
		height: 80px;
		justify-content: center;
		position: relative;
		width: 100px;
		z-index: 10;
	}

	&__box-text {
		background-color: #127fd6;
		box-shadow: none;
		font-size: 0.7em;
		font-weight: 500;
		height: 30px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		z-index: 9;
	}

	&__heading {
		color: #fff;
		// display: block;
		font-size: 0.8em;
		font-weight: 700;
		margin: 10px 0;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.4em;
	}

	&__timer {
		display: flex;
	}
}
