*, *::before, *::after { margin: 0; padding: 0; box-sizing: inherit; }

html { box-sizing: border-box; }

.title { text-transform: uppercase; font-family: sans-serif; letter-spacing: 5px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: transparent; }

.title::before { content: 'Pure CSS Typing Animation'; position: absolute; top: 0; left: 0; color: #000; overflow: hidden; border-right: 1px solid #000; animation: typing 10s infinite steps(25); white-space: nowrap; }

@keyframes typing { 0% { width: 0; }
  50% { width: 100%; }
  100% { width: 0; } }
