@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f1f1f1;
	min-height: 100vh;
	overflow: hidden;
}

#text {
	position: relative;
	color: #fff;
	font-size: 12em;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 0.9em;
	text-align: center;
	transform: rotate(-28deg) skew(25deg);

	&::before {
		content: attr(data-text);
		position: absolute;
		top: 30px;
		left: -30px;
		color: rgba(0, 0, 0, 0.3);
		text-shadow: none;
		filter: blur(8px);
		z-index: -1;
	}
}
